.about__us{
    background: #FFFFF0;
    z-index: -2;
}

.grid-1{
max-width: 390px;
width: 390px;
height: 340px;
opacity: 1;
border-top-left-radius: 94.86px;
object-fit: cover;
z-index: 200;
}
.grid-1-div{
width: 306px;
height: 269px;
opacity: 1;
border-left:40px solid #024241;
border-top: 40px solid #024241;
border-top-left-radius: 102.16px;
border-top-right-radius: 18.24px;
border-bottom-left-radius: 18.24px;
z-index:100;

}
.grid-2{
max-width: 228px;
width: 228px;
height: 341px;
top: 18.61px;
left: 477.59px;
opacity: 1;
border-top-left-radius: 18.24px;
border-top-right-radius: 116.75px;
border-bottom-right-radius: 18.24px;
border-bottom-left-radius: 18.24px;
object-fit: cover;
}
.grid-3{
max-width: 268px;
width: 268px;
height: 279px;
top: 384.2px;
left: 52.55px;
opacity: 1;
border-top-left-radius: 18.24px;
border-top-right-radius: 18.24px;
border-bottom-right-radius: 18.24px;
border-bottom-left-radius: 94.86px;
object-fit: cover;
}
.grid-4{
max-width: 364px;
width: 364px;
height: 295px;
top: 384.2px;
left: 341.88px;
opacity: 1;
border-top-left-radius: 18.24px;
border-top-right-radius: 18.24px;
border-bottom-right-radius: 94.86px;
border-bottom-left-radius: 18.24px;
object-fit: cover;
}

.aboutus__logo{
    background-color: rgba(24, 46, 60, 1);
}

.aboutus__title h1{
font-weight: 600;
font-size: 60px;
text-transform: capitalize;
color: #024241;

}
.aboutus__title p{
font-weight: 400;
font-size: 20px;
letter-spacing: 0%;
color: rgba(24, 46, 60, 1);
}

.aboutus-text-1 h1{
color: #024241;
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 52.79px;
line-height: 105%;
letter-spacing: 0%;

}
.aboutus-text-1 p{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #182E3C;
    
    }
    @media (max-width: 340px) {
        .grid-1 {
            max-width: 300px; /* 390px / 1.3 */
            width: 300px;
            height: 261.54px; /* 340px / 1.3 */
            border-top-left-radius: 72.97px; /* 94.86px / 1.3 */
          }
        
          .grid-1-div {
            width: 235.38px; /* 306px / 1.3 */
            height: 206.92px; /* 269px / 1.3 */
            border-left: 30.77px solid #024241; /* 40px / 1.3 */
            border-top: 30.77px solid #024241;
            border-top-left-radius: 78.58px; /* 102.16px / 1.3 */
            border-top-right-radius: 14.03px; /* 18.24px / 1.3 */
            border-bottom-left-radius: 14.03px;
          }
        
          .grid-2 {
            max-width: 175.38px; /* 228px / 1.3 */
            width: 175.38px;
            height: 262.31px; /* 341px / 1.3 */
            top: 14.32px; /* 18.61px / 1.3 */
            left: 367.38px; /* 477.59px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 89.81px; /* 116.75px / 1.3 */
            border-bottom-right-radius: 14.03px;
            border-bottom-left-radius: 14.03px;
          }
        
          .grid-3 {
            max-width: 206.15px; /* 268px / 1.3 */
            width: 206.15px;
            height: 214.62px; /* 279px / 1.3 */
            top: 295.54px; /* 384.2px / 1.3 */
            left: 40.42px; /* 52.55px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 14.03px;
            border-bottom-right-radius: 14.03px;
            border-bottom-left-radius: 72.97px; /* 94.86px / 1.3 */
          }
        
          .grid-4 {
            max-width: 280px; /* 364px / 1.3 */
            width: 280px;
            height: 226.92px; /* 295px / 1.3 */
            top: 295.54px; /* 384.2px / 1.3 */
            left: 263.75px; /* 341.88px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 14.03px;
            border-bottom-right-radius: 72.97px; /* 94.86px / 1.3 */
            border-bottom-left-radius: 14.03px;
          }
    }
    @media (max-width: 768px) {
        .grid-1 {
            max-width: 300px; /* 390px / 1.3 */
            width: 300px;
            height: 261.54px; /* 340px / 1.3 */
            border-top-left-radius: 72.97px; /* 94.86px / 1.3 */
          }
        
          .grid-1-div {
            width: 235.38px; /* 306px / 1.3 */
            height: 206.92px; /* 269px / 1.3 */
            border-left: 30.77px solid #024241; /* 40px / 1.3 */
            border-top: 30.77px solid #024241;
            border-top-left-radius: 78.58px; /* 102.16px / 1.3 */
            border-top-right-radius: 14.03px; /* 18.24px / 1.3 */
            border-bottom-left-radius: 14.03px;
          }
        
          .grid-2 {
            max-width: 175.38px; /* 228px / 1.3 */
            width: 175.38px;
            height: 262.31px; /* 341px / 1.3 */
            top: 14.32px; /* 18.61px / 1.3 */
            left: 367.38px; /* 477.59px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 89.81px; /* 116.75px / 1.3 */
            border-bottom-right-radius: 14.03px;
            border-bottom-left-radius: 14.03px;
          }
        
          .grid-3 {
            max-width: 206.15px; /* 268px / 1.3 */
            width: 206.15px;
            height: 214.62px; /* 279px / 1.3 */
            top: 295.54px; /* 384.2px / 1.3 */
            left: 40.42px; /* 52.55px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 14.03px;
            border-bottom-right-radius: 14.03px;
            border-bottom-left-radius: 72.97px; /* 94.86px / 1.3 */
          }
        
          .grid-4 {
            max-width: 280px; /* 364px / 1.3 */
            width: 280px;
            height: 226.92px; /* 295px / 1.3 */
            top: 295.54px; /* 384.2px / 1.3 */
            left: 263.75px; /* 341.88px / 1.3 */
            border-top-left-radius: 14.03px; /* 18.24px / 1.3 */
            border-top-right-radius: 14.03px;
            border-bottom-right-radius: 72.97px; /* 94.86px / 1.3 */
            border-bottom-left-radius: 14.03px;
          }
    }